body {
	background-color: gray;
}

h1 {
	margin: 0px 0px;
}

h2 {
	margin: 0px 0px;
}

p {
	margin: 0px 0px;
}

table {
	width: 50%;
}

td {
	border: solid 1px black;
}

table#grid td {
	background-color: beige;
}

table#map td {
	background-color: lightblue;
}

td {
	
	border: solid 1px black;
	width: 75px;
	height: 50px;
	text-align: center;

}